.wrapper3{
    max-width: none;
    width: auto;
    min-width: 100vw;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../../../public/images/crew/background-crew-desktop.jpg); 
    background-size: 100% 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#crew-body-cont {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;
}

#main-row { 
    flex-grow: 1;
}

#firstcol {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

#meet{
    font-family: Barlow Condensed;
    letter-spacing: 2px;
    text-align: start;
    height: max-content;
}

#meetcrewh5{
    margin-left: 100px;
}

#crewmem {
   display: flex;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
}

#crewmemdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-top: 100px;
}

#smallnav {
    margin-top: 100px;
}

#picture-col {
display: flex;
justify-content: center;
align-items: end;
}

#crewpicture {
    width:50%;
}

#title{
    font-size: 32px;
    font-family: Bellefair;
    color: gray;
}

#name{
    font-size: 40px;
    font-family: Bellefair;
}

#memdets{
    font-size: 18px;
    font-family: Barlow Condensed;
}


#circles-link-douglas-{
    width: 12px;
    height: 12px;
    background-color: gray;
}

#circles-link-douglas-:hover {
    background-color: lightgrey;
}

#circles-link-douglas-active {
    background-color: white;
    width: 12px;
    height: 12px;
}

#circles-link-mark-{
    width: 12px;
    height: 12px;
    background-color: gray;
}

#circles-link-mark-:hover {
    background-color: lightgrey;
}

#circles-link-mark-active {
    background-color: white;
    width: 12px;
    height: 12px;
}

#circles-link-victor-{
    width: 12px;
    height: 12px;
    background-color: gray;
}

#circles-link-victor-:hover {
    background-color: lightgrey;
}

#circles-link-victor-active {
    background-color: white;
    width: 12px;
    height: 12px;
}

#circles-link-ansari-{
    width: 12px;
    height: 12px;
    background-color: gray;
}

#circles-link-ansari-:hover {
    background-color: lightgrey;
}

#circles-link-ansari-active {
    background-color: white;
    width: 12px;
    height: 12px;
}


@media screen and (max-width: 1200px) {
    .wrapper3{
        background-image: url(../../../public/images/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #crewmemdetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-top: 100px;
        align-items: center;
        text-align: center; 
    }

    #title{
        font-size: 32px;
        font-family: Bellefair;
        color: gray;
    }
    
    #name{
        font-size: 54px;
        font-family: Bellefair;
    }
    
    #memdets{
        font-size: 28px;
        font-family: Barlow Condensed;
    }

    #smallnav {
        margin-top: 50px;
    }
    }
    
    @media screen and (max-width: 768px) {
        .wrapper3{
            background-image: url(../../../public/images/crew/background-crew-mobile.jpg);
            background-repeat: no-repeat;
        }

        #crewmemdetails {
            width: 90%;
            margin-top: 0; 
        }

        #name{
            font-size: 33px;
            font-family: Bellefair;
        }

        #title{
            font-size: 26px;
            font-family: Bellefair;
            color: gray;
        }
        #memdets{
            font-size: 20px;
            font-family: Barlow Condensed;
        }

        #meet{
       text-align: center;
        }

        #meetcrewh5{
           margin: 0;
        }

        #picture-col {
         border-bottom: 1px solid gray;
         width: 80%;
         height: 100%;
        }

        #main-row { 
           justify-content: center;
        }

        #crewpicture {
            width:80%;
        }

        #smallnav {
          margin: 0;        
    }
}