.wrapper3{
    max-width: none;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../../../public/images/crew/background-crew-desktop.jpg); 
    background-size: 100vw 100vh;
    position: absolute;
}

@media screen and (max-width: 1200px) {
    .wrapper3{
        background-image: url(../../../public/images/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
    }
    }
    
    @media screen and (max-width: 768px) {
        .wrappe3{
            background-image: url(../../../public/images/crew/background-crew-mobile.jpg);
            background-repeat: no-repeat;
        }
    }