.wrapper2{
    max-width: none;
    width: auto;
    min-width: 100vw;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../../../public/images/destination/background-destination-desktop.jpg); 
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
}

#pick{
    width: 100%;
    text-align: start;
    margin-left: 200px;
    font-family: Barlow Condensed;
    letter-spacing: 2px;
}

#planet-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#planet-img{
    width: 65%;
}

#details-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-wrapper{
    width: 70%;
   
}

#nav-txt-moon-{
font-family: Barlow Condensed;
font-size: 16px;
letter-spacing: 1px;
}

#nav-txt-moon-:hover{
    border-bottom: 3px solid lightgrey;
    transition: 0.2s ease-in-out;
 }

 #nav-txt-moon-active{
    font-family: Barlow Condensed;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom: 4px solid white;
}

#nav-txt-mars-{
    font-family: Barlow Condensed;
    font-size: 16px;
    letter-spacing: 1px;
    }
    
    #nav-txt-mars-:hover{
        border-bottom: 3px solid lightgrey;
        transition: 0.2s ease-in-out;
     }
    
     #nav-txt-mars-active{
        font-family: Barlow Condensed;
        font-size: 16px;
        letter-spacing: 1px;
        border-bottom: 4px solid white;
    }

    #nav-txt-europa-{
        font-family: Barlow Condensed;
        font-size: 16px;
        letter-spacing: 1px;
        }
        
        #nav-txt-europa-:hover{
            border-bottom: 3px solid lightgrey;
            transition: 0.2s ease-in-out;
         }
        
         #nav-txt-europa-active{
            font-family: Barlow Condensed;
            font-size: 16px;
            letter-spacing: 1px;
            border-bottom: 4px solid white;
        }

        #nav-txt-titan-{
            font-family: Barlow Condensed;
            font-size: 16px;
            letter-spacing: 1px;
            }
            
            #nav-txt-titan-:hover{
                border-bottom: 3px solid lightgrey;
                transition: 0.2s ease-in-out;
             }
            
             #nav-txt-titan-active{
                font-family: Barlow Condensed;
                font-size: 16px;
                letter-spacing: 1px;
                border-bottom: 4px solid white;
            }



#planet-name{
    font-family: Bellefair;
    font-size: 100px;
}

#planet-details{
    font-family: Barlow Condensed;
    font-size: 18px;
}

#myhr{
    height: 2px ;
    background-color:white;
    width: 100%;
}

#subheading{
    font-family: Barlow Condensed;
    font-size: 14px;
}

#numbers{
    font-family: Bellefair;
    font-size: 28px;
}


@media screen and (max-width: 1200px) {
    .wrapper2{
        background-image: url(../../../public/images/destination/background-destination-tablet.jpg);
        background-repeat: no-repeat;
    }
    #pick{
        width:90%;
        margin:0;
    }

    .details-wrapper{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #mydets{
        text-align: center;
    }

    #subcol1{
        width: 100%;
    }
    #subcol2{
        width: 100%;
    }
    #numrow{
        text-align: center;
    }

    }
    
    @media screen and (max-width: 768px) {
        .wrapper2{
            background-image: url(../../../public/images/destination/background-destination-mobile.jpg);
            background-repeat: no-repeat;
        }
        #pick{
            width: 100%;
            text-align: center;
            margin:0;
        }
    
    }