.wrapper{
    max-width: none;
    width: auto;
    min-width: 100vw;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../../../public/images/home/background-home-desktop.jpg); 
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
}


#body-cont{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
}

#row{
    width: 100vw;
    height: auto;
}

#txt-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    /* background-color: blue; */
}

#txt{
    width: 76%;
}

#h5txt{
font-family: Barlow Condensed;
font-size: 28px;
letter-spacing: 3px;
}

#h1txt{
    font-family: Bellefair;
    font-size: 150px;
}

#ptxt{
    font-family: Barlow Condensed;
    font-size: 18px;
    line-height: 30px;
}


.btn-link{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   height: 220px;
   width: 220px;
   text-decoration: none;
   font-family: Bellefair;
}


.btn-link:hover{
    outline: 70px solid rgba(172, 168, 168, 0.3);
    transition: 0.7s ease-in-out;
}

#btn-col{
    display: flex;
   justify-content: center;
    align-items: end;
    /* background-color: red; */
}

@media screen and (max-width: 1200px) {
    .wrapper{
        background-image: url(../../../public/images/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
    }
    
    #row{
        height: auto;
       width: 80vw;
    }

    #txt-col{
        align-items: center;
        text-align: center;
    }
    #btn-col{
       margin-top: 100px;
    }

    #txt{
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    #body-cont{
        margin-top: 100px;
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-link{
        height: 220px;
        width: 220px;
      }  
      #h5txt{
        font-family: Barlow Condensed;
        font-size: 28px;
        letter-spacing: 1px;
    }

    #h1txt{
        font-family: Bellefair;
        font-size: 150px;
    }
    #ptxt{
        font-size: 24px;
    }


    }
    
    @media screen and (max-width: 768px) {
        .wrapper{
            background-image: url(../../../public/images/home/background-home-mobile.jpg);
            background-repeat: no-repeat;
        }

        #row{
            height: auto;
            width: 100vw;
         }

         #txt-col{
            align-items: center;
            text-align: center;
        }
    
        #txt{
            display: flex;
            flex-direction: column;
           align-items: center;
           justify-content: center;
           width: 90vw;
        }
        
        #h5txt{
            font-family: Barlow Condensed;
            font-size: 26px;
            letter-spacing: 1px;
        }
    
        #h1txt{
            font-family: Bellefair;
            font-size: 120px;
        }
        #ptxt{
            font-size: 24px;
        }
        .btn-link{
            height: 200px;
            width: 200px;
         }    
    }