.wrapper4{
    max-width: none;
    width: auto;
    min-width: 100vw;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../../../public/images/technology/background-technology-desktop.jpg); 
    background-size: 100% 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#tech-body-cont {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;
    justify-content: center;
}

#nav1-vehicle-{
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Bellefair;
    color: white;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

#nav1-vehicle-:hover{
   border: 2px solid white;
}

#nav1-vehicle-active {
    background-color: white;
    color: rgb(0, 0, 29);
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Bellefair;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

#nav1-port-{
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Bellefair;
    color: white;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

#nav1-port-:hover{
   border: 2px solid white;
}

#nav1-port-active {
    background-color: white;
    color: rgb(0, 0, 29);
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Bellefair;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

#nav1-capsule-{
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Bellefair;
    color: white;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

#nav1-capsule-:hover{
   border: 2px solid white;
}

#nav1-capsule-active {
    background-color: white;
    color: rgb(0, 0, 29);
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Bellefair;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

#launchdetails{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    height: 100%;
}

#launchrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#launch{
    font-family: Barlow Condensed;
    letter-spacing: 2px;
    text-align: start;
    height: max-content;
}

#launch-dets {
    font-size: 16px;
    font-family: Barlow Condensed;
}

#launchp{
    margin-left: 100px;
}

#tech-pic-col{
    display: flex;
    justify-content: end;
    align-items: center;
}

#techpicture {
    width: 80%;
}

#picture {
    display: flex;
    justify-content: end;
}

#common{
    font-family: Barlow Condensed;
}


@media screen and (max-width: 1200px) {
    .wrapper4{
        background-image: url(../../../public/images/technology/background-technology-tablet.jpg);
        background-repeat: no-repeat;
    }

    #tech-body-cont {
        flex-grow: 0;
        margin-top: 50px;
    }

    #tech-pic-col{
        justify-content: center;
    }

    #techpicture {
        width: 100%;
    }

    #picture {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #launch {
        margin-bottom: 50px;
    }

    #launchdetails{
        display: flex;
        width: 70%;
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
        height: 100%;
    }

    #launch-dets {
        font-size: 20px;
        font-family: Barlow Condensed;
    }


    }
    
    @media screen and (max-width: 768px) {
        .wrapper4{
            background-image: url(../../../public/images/technology/background-technology-mobile.jpg);
            background-repeat: no-repeat;
        }

        #launchp{
            margin-left: 0px;
        }

        #launch{
            text-align: center;
            margin-bottom: 30px;
        }

        #launch-dets {
            font-size: 20px;
            font-family: Barlow Condensed;
        }
    }