
/* navbar for desktops: screen size extra large and above */
.mainNav{
    background-color:rgba(172, 168, 168, 0.3);;
    height: 80px;
    width: 55vw;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;

    font-family: Barlow Condensed;
    font-size: 16px;
    
}

#mylinks{
    display: flex;
    height: 100%;
    align-items: center;
}

#mylinks:hover{
   border-bottom: 4px solid lightgrey;
   transition: 0.3s ease-in-out;
}

#mylinks:active{
    border-bottom: 4px solid white;
    transition: 0.3s ease-in-out;
 }


   


hr{
    color:#000000;
    width: 38vw;
    position: absolute;
    right: 42rem;
}

#mainCont {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    max-width: none;
}

.mynav {
    margin-top: 50px;
}

/* for tablets */
@media screen and (max-width: 1200px) {
    .mynav {
        margin-top: 0px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .mynav {
        margin-top: 10px;
        padding: 10px;
    }

    .mainNav{
       height: 50vh;
       align-items: start;
       background-color: transparent;
       justify-content: space-evenly;
    }

    .offcanvas {
        background-color:rgba(172, 168, 168, 0.3);;
    }

    .fade {
    display: none;
    }
}