
/* navbar for desktops: screen size extra large and above */
.mainNav{
    background-color:rgba(172, 168, 168, 0.1);
    height: 80px;
    width: 55vw;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Barlow Condensed;
    font-size: 16px;
}

/* homepage */
#mylinks-home-{
    display: flex;
    height: 100%;
    align-items: center;
    letter-spacing: 1px;
}
#mylinks-home-active{
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 4px solid white;
    letter-spacing: 1px;
}
#mylinks-home-:hover{
    border-bottom: 4px solid lightgrey;
    transition: 0.2s ease-in-out;
 }

 /* destination */
#mylinks-dest-{
    display: flex;
    height: 100%;
    align-items: center;
    letter-spacing: 1px;
}
#mylinks-dest-:hover{
   border-bottom: 4px solid lightgrey;
   transition: 0.2s ease-in-out;
}
#mylinks-dest-active{
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 4px solid white;
    letter-spacing: 1px;
}

/* crew */
#mylinks-crew-{
    display: flex;
    height: 100%;
    align-items: center;
    letter-spacing: 1px;
}
#mylinks-crew-:hover{
   border-bottom: 4px solid lightgrey;
   transition: 0.2s ease-in-out;
}
#mylinks-crew-active{
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 4px solid white;
    letter-spacing: 1px;
}

/* technology */

#mylinks-tech-{
    display: flex;
    height: 100%;
    align-items: center;
    letter-spacing: 1px;
}
#mylinks-tech-:hover{
   border-bottom: 4px solid lightgrey;
   transition: 0.2s ease-in-out;
}
#mylinks-tech-active{
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 4px solid white;
    letter-spacing: 1px;
}


#hr1{
    height: 2px ;
    background-color:white;
    width: 32rem;
    position: absolute;
    left: -63%;
}

#mainCont {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    max-width: none;
}

.mynav {
    margin-top: 30px;
}

/* for tablets */
@media screen and (max-width: 1200px) {
    .mynav {
        margin-top: 0px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .mynav {
        margin-top: 10px;
        padding: 10px;
    }

    .mainNav{
       height: 34vh;
       align-items: start;
       background-color: transparent;
       font-size: 20px;
    }

    .offcanvas {
        background-color:rgba(172, 168, 168, 0.3);;
    }

    /* homepage */
#mylinks-home-{
    display: flex;
    height: 100%;
    align-items: center;
}
#mylinks-home-active{
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom:none;
}
#mylinks-home-:hover{
    border-bottom:none;
 }

 /* destination */
#mylinks-dest-{
    display: flex;
    height: 100%;
    align-items: center;
}
#mylinks-dest-:hover{
    border-bottom:none;
}
#mylinks-dest-active{
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom:none;
}

/* crew */
#mylinks-crew-{
    display: flex;
    height: 100%;
    align-items: center;
}
#mylinks-crew-:hover{
    border-bottom:none;
}
#mylinks-crew-active{
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom:none;
}

/* technology */

#mylinks-tech-{
    display: flex;
    height: 100%;
    align-items: center;
}
#mylinks-tech-:hover{
    border-bottom:none;
}
#mylinks-tech-active{
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom:none;
}
}